/* h1 = 36px
h2 = 24px
h3 = 18px
h4 = 24px
h5 = 18px
h6 = 12px */
* {
    margin: 0 auto;
    padding: 0;
}

html {
    font-size: 100%;
    font-family: Montserrat;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.625rem;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

h1 > span, h2, .white  {
    color: #fff;
}

h1 > span, h2, h4 > span, h5   {
    font-weight: 400;
}

h1, h2 > span, h3 {
    font-weight: 700;
}

h3, h4 {
    color: #0E484A;
    padding: 15px 0;
}

h5, h6 {
    font-size: 18px;
}

h6 {
    text-transform: uppercase;
}

a {
    font-size: 20px;
    text-decoration: none;
}

p {
    font-size: 15px;
    line-height: 20px;
}

p, .pad10 {
    padding: 10px 0;
}

h1, h6, .center {
    text-align: center;
}

a, .black, .nouv4 {
    color: #000;
}

.gris {
    color: #b7b7b7;
}

h1, h2 > span, .vert {
    color: #0afcb5;
}

.margin60 {
    margin: 60px 0;
}

.pad30 {
    padding: 30px 0;
}

/* La navigation */
nav {
    min-height: 60px;
    text-align: right;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    line-height: 60px;
    padding:  0.9375rem;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus,
nav > ul > li > a:active {
    color: #0afcb5;
}

ul li a:hover > ul,
ul li ul a:hover {
    color: #0afcb5;
}

nav > ul > li > ul > li > a {
    font-size: 0.75rem;
}

nav > ul > li > ul > li {
    text-align: left;
    padding: 5px;
}

li {
    display: block;
    transition-duration: 0.2s;
}
   
li:hover {
    cursor: pointer;
}
   
ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
    padding: 20px;
}
   
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: #ffffff;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/* Image-header des pages principales*/ 
.accueil_image {
    background-image: url(/images/header-page/header_accueil.jpg);
}

.img_header {
    min-height: 500px;
}

/* Le texte sur les image */
.txt-image {
    padding-top: 100px;
}

.txt-sous {
   padding-top: 100px;
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bureau {
    background-image: url(/images/header-page/bureau.jpg);
}

.fondateur {
    background-image: url(/images/header-page/fondateur.jpg);
}

/* La publicité en bas avant le footer */
.pub {
    background-image: url(/images/header-page/image_sous-page1.jpg);
    min-height: 300px;
    text-align: center;
}

.contact {
    padding: 80px 0 40px 0;
}

.pub > a:hover {
    color: #0afcb5;
    border: 4px solid #0afcb5;
}

.button {
    box-sizing: border-box;
    border: 4px solid #fff;
    padding: 10px;
    font-weight: 700;
    color: #fff;
}

/* La deuxieme pub */
.pub2 {
    background-image: url(/images/header-page/image_sous-page2.jpg);
    min-height: 300px;
}

/* Le footer */
footer {
    min-height: 182px;
    background-color: #0E484A;
}

footer > h6 {
    line-height: 182px;
    color: #fff;
}

.acc-1, .acc-2, .acc-7, .acc-10 {
    background-color: #f4f4f4;
    border: 7px solid #0E484A;
}

article {
    padding: 30px;
    box-sizing: border-box;
    text-align: left;
}

.acc-4 {
    background: #FFFFFF;
    border: 7px solid #739EA7;
}

.acc-8, .acc-9 {
    background-color: #328184;
    color: #fff;
}

@media screen and (max-width: 639px){
    section {
        display: block;
        text-align: left;
    }

    nav > ul > li {
        display: block;
        text-align: center;
    }

    nav {
        background-color: #f4f4f4;
    }

    .accueil_image {
        min-height: 500px;
    }

    article {
        min-height: 100px;
        margin: 30px 0;
    }

    .txt-sous {
        padding-top: 100px;
     }

    .accueil_image {
        min-height: 400px;
        text-align: center;
    }
}

@media screen and (max-width: 1023px){
    .accueil_image {
        max-width: 100%;
    }

    article {
        min-height: 100px;
        margin: 30px 0;
    }
}

@media screen and (min-width: 1024px){
    .wrapper {
        width: 1024px;
        margin: 0 auto;
    } 

    .index-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 300px 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
    
    .acc-1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .acc-2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    
    .acc-7, .acc-8 {
        grid-row-start: 4;
        grid-row-end: 6;
    }
    
    .acc-7 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .acc-8 {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    
    .acc-9, .acc-10 {
        grid-row-start: 6;
        grid-row-end: 8;
    }
    
    .acc-9 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .acc-10 {
        grid-column-start: 2;
        grid-column-end: 5;
    }
}
