/* Le général */
body, h1, h2, h3, h4, h5, h6, ul, a, p {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Montserrat;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 1.625rem;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

h1 > span, h2, .white  {
    color: #fff;
}

h1 > span, h2, h4 > span, h5   {
    font-weight: 400;
}

h1, h2 > span, h3 {
    font-weight: 700;
}

h3, h4 {
    color: #0E484A;
    padding: 15px 0;
}

h5, h6 {
    font-size: 18px;
}

h6 {
    text-transform: uppercase;
}

a {
    font-size: 20px;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 20px;
}

p, .pad10 {
    padding: 10px 0;
}

h1, h6, .center {
    text-align: center;
}

a, .black, .nouv4 {
    color: #000;
}

.gris {
    color: #b7b7b7;
}

h1, h2 > span, .vert {
    color: #0afcb5;
}

.margin60 {
    margin: 60px 0;
}

.pad40 {
    padding: 40px 0;
}

.pad30 {
    padding: 30px 0;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
}

/* Le header */
/* La navigation */
nav {
    min-height: 60px;
    text-align: right;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    line-height: 60px;
    padding: 15px;
}

nav > ul > li > ul > li > a {
    font-size: 0.75rem;
}

nav > ul > li > ul > li {
    text-align: left;
    padding: 5px;
}

li {
    display: block;
    transition-duration: 0.2s;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus,
nav > ul > li > a:active {
    color: #0afcb5;
}
   
li:hover {
    cursor: pointer;
}
   
ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
    padding: 20px;
}
   
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: #ffffff;
}

ul li a:hover > ul,
ul li ul a:hover {
    color: #0afcb5;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/* Image-header des pages principales*/ 
.accueil_image {
    background-image: url(/images/header-page/header_accueil.jpg);
}

.realisations_image {
    background-image: url(/images/header-page/header_realisations.jpg);
}

.services_image {
    background-image: url(/images/header-page/header_services.jpg);
}

.contacter_image {
    background-image: url(/images/header-page/header_contact.jpg);
}

/* Image-header des sous-pages */ 
.hebergement_image {
    background-image: url(/images/header-page/header_hébergement.jpg);
}

.impartition_image {
    background-image: url(/images/header-page/header_impartition.jpg);
}

.gestion_image {
    background-image: url(/images/header-page/header_gestion.jpg);
}

.logiciel_image {
    background-image: url(/images/header-page/header_locigiel.jpg);
}

.web_image {
    background-image: url(/images/header-page/header.jpg);
}

.img_header {
    min-height: 500px;
}

/* Le texte sur les image */
.txt-image {
    line-height: 300px;
}

.txt-sous {
   padding-top: 100px;
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Les services */
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 30px;
}

.impartition {
    grid-column: 3;
}

.services > article {
    min-height: 320px;
    min-width: 320px;
    text-align: center;
    background-color: #fafafa;
    
}
.dlogiciel, .dweb, .hébergement, .gestion, .impartition {
    box-sizing: border-box;
    border: 7px solid #0afcb5;
}

.img {
    margin-top: 60px;
}

.services > article:hover,
.services > article > a > h5:hover {
    color: #fff;
    background-color: #0afcb5;
}

/* Logiciel */
.image_haut, .image_bas, .image_haut2, .image_bas2 {
    min-width: 470px;
    min-height: 520px;
}

.image_haut {
    background-image: url(/images/développement_web/image_haut.jpg);
}

.image_haut2 {
    background-image: url(/images/développement_web/image_haut2.jpg);
}

.image_bas {
    background-image: url(/images/développement_web/image_bas.jpg);
}

.image_bas2 {
    background-image: url(/images/développement_web/image_bas2.jpg);
}

.dev-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}

.dev-grid > article {
    padding: 0 30px 30px 30px;
}

.trait {
    border-top: 9px solid #0afcb5;
    width: 900x;
}

.back-g_gris {
    background-color: #fafafa;
}

/* Hebergement */
.hb-contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 15px;
    text-align: center;
}

.btn-panier, .btn-panier_center, .hb-sous {
    box-sizing: border-box;
}

.btn-panier, .btn-panier_center {
    font-size: 18px;
    padding: 10px;
    font-weight: 700;
    border: 4px solid;
}

.btn-panier {
    border-color: #fff;
}

.btn-panier_center {
    border-color: #0afcb5;
    color: #0afcb5;
}

.hb-sous, .hb-souscote {
    min-height: 680px;
    padding: 0 15px;
}

.hb-souscote {
    min-width: 280px;
    padding-top: 80px;
    background-color: #328184;
}

.hb-sous {
    min-width: 320px;
    padding-top: 20px;
    border: 7px solid #0afcb5;
}

.sous-h {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

.crochet, .txt-droit {
    grid-row: 1;
}

.crochet {
    min-width: 20px;
    align-items: flex-start;
}

.txt-droit {
    min-width: 280px;
}

.plan-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.plan-grid > div {
    padding: 15px;
}

/* Gestion de projet*/
.grid-gestion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px ;
    row-gap: 30px;
}

.gest-gauche{ 
    grid-column-start: 3;
    grid-column-end: 6;
}

.gest-gauche, .gest-droit {
    padding: 30px;
}

.gest-droit{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #739EA7;
}

.img-gest-droit, .img-gest-droit2 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.img-gest-droit {
    background-image: url(/images/gestion/gestion-droit.jpg);
    grid-row: 1
}

.img-gest-droit2 {
    background-image: url(/images/gestion/gestion-droit2.jpg);
    grid-row: 3;
}
.img-gest-gauche, .img-gest-gauche2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.img-gest-gauche {
    background-image: url(/images/gestion/gestion-gauche.jpg);
}

.img-gest-gauche2 {
    background-image: url(/images/gestion/gestion-gauche2.jpg);
}

/* Impartition */
.grid-impartition{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      "compagnie1 compagnie1 compagnie1 ."
      "compagnie2 compagnie2 compagnie2 ."
      "compagnie3 compagnie3 compagnie3 .";
}

.compagnie1, .compagnie2, .compagnie3 {
    min-width: 900px;
    margin-top: 40px;
}

.compagnie1{ 
    grid-area: compagnie1; 
}
.compagnie2{
    grid-area: compagnie2;
}

.compagnie3{ 
    grid-area: compagnie3; 
}

/* Nos réalisations */
.nos-realisations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    margin: 60px 0;
}

.nos-realisations > article {
    background-color: #fafafa;
}

.hover-real:hover{
    opacity: 1;
    opacity: 0;
    transition: .5s;
}

.real_10{
    grid-column-start: 1;
    grid-column-end: 4;
}

.siteweb{
    font-size: 16px;
    border: solid 3px rgba(0, 0, 0, 0.226);
    margin: 30px 0;
    background-color:rgba(16, 232, 167, 0.7);
    text-align: center;
}

/* La publicité en bas avant le footer */
.pub {
    background-image: url(/images/header-page/image_sous-page1.jpg);
    min-height: 300px;
    text-align: center;
}

.contact {
    padding: 80px 0 40px 0;
}

.pub > a:hover {
    color: #0afcb5;
    border: 4px solid #0afcb5;
}

.button {
    box-sizing: border-box;
    border: 4px solid #fff;
    padding: 10px;
    font-weight: 700;
    color: #fff;
}

/* La deuxieme pub */
.pub2 {
    background-image: url(/images/header-page/image_sous-page2.jpg);
    min-height: 300px;
}

/* Le footer */
footer {
    min-height: 182px;
    background-color: #0E484A;
}

footer > h6 {
    line-height: 182px;
    color: #fff;
}

/* Le formulaire */
textarea {
    resize: none;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
input:focus:invalid {
    outline: none;
}

.input__field--error{
    border:1px solid #ff0000;
    background-color: rgba(255, 59, 59, 0.329);
    color: red;
    font-family: Montserrat;
}

.list_error--none{
    display:none;
}

.list_error--visible{
    min-height: 100px;
    border:1px solid #ff0000;
    background-color: rgba(255,0,0,0.3);
    color: red;
    display: block;
    font-family: Montserrat;
}

fieldset{
    display: inline;
}

.formulaire {
    background-color: #f4f4f4;
    box-shadow: 8px 8px 12px #aaa;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 15px 1fr 200px 1fr;
    gap: 30px;
    padding: 30px;
}

#prenom {
    grid-column-start: 2;
    grid-column-end: 4;
}

#nom , #prenom {
    grid-row: 1;
}

#courriel, #telephone, #commentaire {
    grid-column-start: 1;
    grid-column-end: 4;
}

#courriel {
    grid-row: 2;
}

#telephone {
    grid-row: 3;
}

#label-services {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 4;
    font-size: 18px;
}

#services {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 5;
    min-width: 100px;
}

#commentaire {
    grid-row: 6;
    resize: none;
}

#soumettre {
    grid-row: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #328184;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

::placeholder, select, input, label, textarea {
    font-family: montserrat;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
}